/* ---------------------------------------------------------------------------
				GLOBAL
------------------------------------------------------------------------------*/

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
        box-sizing: border-box;
	font-family: 'Brandon Text', sans-serif;
}

h1 {
	color: white;
	font-weight: 900;
	font-size: 5vw;
}

.global-container {
	max-width: 1300px;
	margin: 0 auto;
}

.right-margin {
	margin-right: 20px;
}

.button-transparent {
	background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.button-colored {
	background-color: #7f7eff;
    border: none;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.img-responsive {
	width: 100%;
	margin: 0 auto;
}

/* ---------------------------------------------------------------------------
				HEADER
------------------------------------------------------------------------------*/

#header-background {
	z-index: -1;
	width: 100%;
	height: 700px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2af35+32,f5753a+100 */
	background: #f2af35; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f2af35 32%, #f5753a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f2af35 32%,#f5753a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f2af35 32%,#f5753a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2af35', endColorstr='#f5753a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header-text h1 {
	font-weight: 900;
	font-size: 6vw;
	margin-bottom: -15px;
}

.header-text span {
	font-weight: 300;
	font-size: 6vw;
}

.header-text h2 {
	font-weight: 300;
	font-size: 1.8vw;
}

.header-buttons {
	margin-top: 40px;
}

.jumbotron {
	position: relative;
	left: -2%;
	top: 300px;
	width: 50%;
	text-align: right;
	color: white;
}

.profile-pic {
	position: relative;
	left: 55%;
	top: -180px;
}

.profile-pic img {
	width: 600px;
}

/* ---------------------------------------------------------------------------
				SELLING POINTS SECTION
------------------------------------------------------------------------------*/

#selling-points {
	/*border: 1px solid black;*/
	z-index: -1;
	width: 100%;
	padding-bottom: 5%;
	padding-top: 5%;
	background: #fcfcfc;
}

.selling-point {
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}

.selling-point h3 {
	color: #4D4D4D;
	font-weight: 700;
	font-size: 1.6vw;
}

.selling-point img {
	width: 100%;
	margin-bottom: 8%;
}

/* ---------------------------------------------------------------------------
				ABOUT ME SECTION
------------------------------------------------------------------------------*/

#about {
/*	z-index: -1;*/
/* Permalink - http://colorzilla.com/gradient-editor/#7f7eff+0,a8a8ff+100 */
	background: #7f7eff; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #7f7eff 0%, #a8a8ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #7f7eff 0%,#a8a8ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #7f7eff 0%,#a8a8ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7eff', endColorstr='#a8a8ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

.about-wrapper {
	padding-top: 5%;
	padding-bottom: 5%;
}

.about-wrapper h1 {
	text-align: center;
	padding: 30px;
}

.skill-list {
	list-style-type: none;
}

.skill-list li {
	border-radius: 4px;
	background-color: #7877f9;
	padding: 5px 8px 5px 8px;
	margin: 5px 10px 5px 0px;
	display: inline-block;
}


.c1 {
	order: 1;
	text-align: right;
	font-size: 30px;
	margin: 0 auto;

}

.c2 {
	order: 2;
	text-align: justify;
	font-size: 16px;
	margin: 0 auto;
}

.c3{
	order: 3;
	text-align:justify;  
	font-size: 16px;
	margin: 0 auto;
}

.c4 {
	order: 4;
}

.c5 {
	margin-top: 20px;
	order: 5;
}

.c6 {
	margin-top: 20px;
	order: 6;
}


/* ---------------------------------------------------------------------------
				FLEX SETTINGS
------------------------------------------------------------------------------*/

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
	/*background-color: black;*/
	color: white;
	padding: 10px;
	width: 32%;
	min-width: 250px;
}

/* ---------------------------------------------------------------------------
				PORTFOLIO HIGHLIGHT SECTION
------------------------------------------------------------------------------*/

#portfolio {
	width: 100%;
	margin: -3px;
	padding-bottom: 5%;
}

#portfolio h1 {
	color: #4D4D4D;
	text-align: center;
	padding: 60px;
}

.portfolio-wrapper {
	padding: 0;
	margin: 0;
}

.portfolio-wrapper img {
	/*border: 1px solid #a3a3a3;*/
	width: 100%;
	margin: 0 auto;
}

.two {
	margin-top: -1px;
}

.three {
	margin-top: -1px;
}

.rowParent, .columnParent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  align-items: flex-start;

  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;

  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.columnParent{
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexChild{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/*ZOOM EFFECT*/

.zoomframe {
	position: relative;
	bottom: 5px;
	overflow: hidden;
	width: 100%;
	margin-bottom: -5px;
}

.zoomframe img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoomframe:hover img {
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
}


/* ---------------------------------------------------------------------------
				ALERT SECTION
------------------------------------------------------------------------------*/

#alert {
	width: 100%;
	z-index: -1;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2af35+32,f5753a+100 */
	background: #f2af35; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f2af35 32%, #f5753a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f2af35 32%,#f5753a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f2af35 32%,#f5753a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2af35', endColorstr='#f5753a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.alert-wrapper {
	margin: 0 auto;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	color: white;
}

.alert-wrapper h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.alert-wrapper button {
	padding: 1% 3%;
}


/* ---------------------------------------------------------------------------
				REFERENCES SECTION
------------------------------------------------------------------------------*/

#referenties {
	width: 100%;
	padding-bottom: 5%;
}

#referenties .item {
	padding: 0px;
}

#referenties h1 {
	color: #4D4D4D;
	text-align: center;
	padding: 60px;
}

.testimonial-bg {
	width: 100%;
	margin: 0 auto;
	z-index: 1;
}

.testimonial-wrapper {
	position: relative;
}

.testimonial-text {
	width: 70%;
	/*margin: 0 auto;*/
	z-index: 20;
	position: absolute;
	top: 150px;
	left: 50px;
}

.testimonial-text h3 {
	text-align: center;
	text-transform: uppercase;
	color: #4D4D4D;
	font-size: 16px;
}

.testimonial-text h4 {
	text-align: center;
	color: #4D4D4D;
	font-weight: 400;
	font-size: 15px;
}

.testimonial-text p {
	text-align: justify;
	color: #4D4D4D;
	font-weight: 400;
	font-size: 16px;
}

/* ---------------------------------------------------------------------------
				CONTACT SECTION
------------------------------------------------------------------------------*/

#contact {
	width: 100%;
	align-content: center;
	padding-bottom: 5%;
	background: #7f7eff; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #7f7eff 0%, #a8a8ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #7f7eff 0%,#a8a8ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #7f7eff 0%,#a8a8ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7eff', endColorstr='#a8a8ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
	clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
}

.contact-wrapper {
	color: white;
	text-align: left;
	width: 55%;
	margin: 0 auto;
	padding-top: 25%;
}

.contact-wrapper h2 {
	font-size: 2.7vw;
	font-family: 'Open Sans', sans-serif;
}

.contact-wrapper p {
	padding-bottom: 30px;
	font-size: 1em;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.contact-wrapper a {
	font-size: 1.5em;
	font-weight: 400;
	color: white;
}

.contact-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #39399C;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 15px;
	margin-bottom: 5px;
}

/* ---------------------------------------------------------------------------
				PORTFOLIO PAGES
------------------------------------------------------------------------------*/

/*NAVIGATION*/

#nav-background {
	z-index: -1;
	width: 100%;
	height: 115px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2af35+32,f5753a+100 */
	background: #f2af35; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f2af35 32%, #f5753a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f2af35 32%,#f5753a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f2af35 32%,#f5753a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2af35', endColorstr='#f5753a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*SUMMARY ON TOP */

#summary {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summary-wrapper {
	padding-top: 50px;
}

.summary-item-left {
	text-align: right;
	color: grey;
	padding: 10px;
	width: 48%;
	min-width: 450px;
}

.summary-item-right {
	width: 48%;
	min-width: 450px;
}

/*image next to summary section for app */
#img-desktop {
	margin-bottom: -6px;
	width: 100%;
	max-width: 430px;
}

/*image next to summary section for desktop */
#img-mobile{
	margin-bottom: -5px;
	width: 100%;
	max-width: 350px;
}

.summary-content {
	margin-left: auto;
	margin-right: 0;
}

/*summary section for app image */
.mobile {
	margin: 0 auto;
	width: 330px;
}

/*summary section for desktop image */
.desktop {
	margin: 0 auto;
	width: 400px;
}

.summary-content h2 {
	text-transform: uppercase;
	color: #4D4D4D;
	font-size: 2.2em;
}

.summary-content h4 {
	color: #7f7eff;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.8em;
}

.summary-content p {
	font-weight: 300;	
}

/*DETAILED SECTION BELOW*/

#story p {
	font-family: 'Open Sans', sans-serif;
	color: grey;
	font-size: 20px;
	font-weight: 200;
}

.story-wrapper {
	padding-top: 100px;
}

.story-item {
	width: 48%;
	min-width: 300px;
}

.story-item img {
	border: 1px solid #ededed;
	margin: 10px;
}

.gif {
	border: 1px solid #ededed;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

.story-text-wrapper {
	margin: 0 auto;
	width: 64%;
	min-width: 350px;
}

.section {
	margin-top: 50px;
	margin-bottom: 50px;
	color: #4D4D4D;	
}

.mobile .intro {
	margin-bottom: 70px;
}

.mobile .github {
	margin-bottom: 20px;
}

.mobile .technologies {
	margin-top: 30px;
	font-size: 0.8em;
}

.desktop .intro {
	margin-bottom: 30px;
}

.desktop .github {
	margin-bottom: 20px;
}

.desktop .technologies {
	margin-top: 30px;
	font-size: 0.8em;
}

.img-portfolio {
	margin-top: 125px;
	width: 100%;
	border: 1px solid #ededed;
}

/* ---------------------------------------------------------------------------
				FOOTER
------------------------------------------------------------------------------*/

#footer {
	background-color: #0D0D86;
	width: 100%;
}

.footer-wrapper {
	padding-top: 5%;
	padding-bottom: 2%;
}

#footer-col1 p {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.footer-item-big {
	/*background-color: black;*/
	color: white;
	padding: 10px;
	width: 50%;
	min-width: 250px;
	margin: 0 auto;
}

.footer-item-small {
	/*background-color: black;*/
	color: white;
	padding: 10px;
	width: 15%;
	min-width: 130px;
	margin: 0 auto;
}

.footer-wrapper ul {
	list-style-type: none;	
}

.footer-wrapper li a{
	color: white;
}

.footer-wrapper a:link {
    text-decoration: none;
}

.footer-wrapper a:visited {
    text-decoration: none;
}

.footer-wrapper a:hover {
    text-decoration: none;
}

.footer-wrapper a:active {
    text-decoration: none;
}

/* ---------------------------------------------------------------------------
				MEDIA QUERIES
------------------------------------------------------------------------------*/

@media (max-width: 599px) {

	h1 {
		font-size: 3em;
	}
	
	/*HEADER APPEARANCE ON MOBILE DEVICES */
	.header-buttons, .brand-container {
		visibility: hidden;
	}

	.header-text h1 {
		font-size: 3em;
	}

	.header-text span {
		font-size: 1em;
	}

	.header-text h2 {
		padding-top: 10px;
		font-size: 1.4em;
	}

	.jumbotron {
		left: 2%;
		top: 100px;
		width: 100%;
		text-align: center
	}

	#header-background {
		height: 300px;
	}
	
	/*OTHERS*/
	.item {
		width: 100%;
	}

	.global-container {
		max-width: 350px;
	}

	.selling-point h3 {
		font-size: 1.4em;
	}

	.contact-wrapper {
		/*border: 1px solid black;*/
		width: 95%;
		margin: 0 auto;
		padding-top: 70%;
	}

	.contact-wrapper h2 {
		font-size: 1.4em;
	}

	.contact-wrapper p {
		padding-bottom: 10px;
	}

	.footer-item-big {
		width: 85%;
	}

	#nav-background {
		height: 70px;
	}

	.testimonial-text {
		top: 130px;
	}

	.testimonial-text p {
		font-size: 15px;
	}
	
	/*OTHER*/

	.summary-item-right {
		margin: 0 auto;
		min-width: 100%;
	}

	.summary-item-left {
		margin: 0 auto;
		min-width: 100%;
	}

	.desktop {
		width: 100%;
		padding-bottom: 20px;
	}

	.mobile{
		width: 100%;
		padding-bottom: 20px;
	}

}
	
@media screen and (min-width: 600px) and (max-width: 699px) {
	
	/*HEADER APPEARANCE ON MOBILE DEVICES */
	.header-buttons {
		visibility: hidden;
	}

	.header-text h1 {
		font-size: 3em;
	}

	.header-text span {
		font-size: 1em;
	}

	.header-text h2 {
		padding-top: 15px;
		font-size: 1.6em;
	}

	/*OTHERS*/
	.item {
		width: 100%;
	}

	.selling-point h3 {
		font-size: 1.6em;
	}

	.global-container {
		max-width: 500px;
	}

	/*TESTIMONIALS*/
	.testimonial-text {
		top: 200px;
		left: 65px;
	}

	.testimonial-text h3 {
		font-size: 22px;
	}

	.testimonial-text h4 {
		font-size: 20px;
	}

	.testimonial-text p {
		padding-top: 40px;
		font-size: 20px;
	}

	/*OTHER*/

	.summary-item-right {
		margin: 0 auto;
	}

	.summary-item-left {
		margin: 0 auto;
	}

	#img-mobile {
		margin: 0 auto;
	}


	.desktop {
		width: 100%;
		padding-bottom: 20px;
	}

	.mobile{
		width: 100%;
		padding-bottom: 20px;
	}

}

@media screen and (min-width: 700px) and (max-width: 940px) {
	
	/*HEADER APPEARANCE ON MOBILE DEVICES */
	.header-buttons, .brand-container {
		visibility: hidden;
	}

	.header-text h1 {
		font-size: 3em;
	}

	.header-text span {
		font-size: 1em;
	}

	.header-text h2 {
		padding-top: 10px;
		font-size: 1.4em;
	}

	.jumbotron {
		left: 2%;
		top: 200px;
		width: 50%;
	}

	#header-background {
		height: 400px;
	}

	/*OTHERS*/
	.selling-point h3 {
		font-size: 1.6em;
	}

	.item {
		width: 49%;
	}

	.global-container {
		max-width: 700px;
	}

	/*TESTIMONIALS*/
	.testimonial-text {
		top: 140px;
		left: 45px;
	}

	.testimonial-text h3 {
		font-size: 16px;
	}

	.testimonial-text h4 {
		font-size: 16px;
	}

	.testimonial-text p {
		font-size: 14px;
	}

	/*OTHER*/

	.summary-item-right {
		margin: 0 auto;
	}

	.summary-item-left {
		margin: 0 auto;
	}
}

@media screen and (min-width: 941px) and (max-width: 1099px) {

	.global-container {
		max-width: 800px;
	}

	/*TESTIMONIALS*/
	.testimonial-text {
		top: 90px;
		left: 33px;
	}

	.testimonial-text h3 {
		font-size: 12px;
	}

	.testimonial-text h4 {
		font-size: 12px;
	}

	.testimonial-text p {
		font-size: 11px;
	}

	/*OTHER*/

	.summary-item-right {
		margin: 0 auto;
	}

	.summary-item-left {
		margin: 0 auto;
	}
}

@media screen and (min-width: 1100px) and (max-width: 1299px) {

	.global-container {
		max-width: 1000px;
	}

	/*TESTIMONIALS*/
	.testimonial-text {
		top: 120px;
		left: 40px;
	}

	.testimonial-text h3 {
		font-size: 14px;
	}

	.testimonial-text h4 {
		font-size: 14px;
	}

	.testimonial-text p {
		font-size: 13px;
	}
}


@media screen and (min-width: 1300px) {

	.global-container {
		max-width: 1200px;
	}

	h1 {
		font-size: 5em;
	}

	.header-text h1 {
		font-size: 6em;
	}

	.header-text span {
		font-size: 1em;
	}

	.header-text h2 {
		font-size: 1.8em;
	}

	.selling-point h3 {
		font-size: 1.6em;
	}

	.alert-wrapper h2 {
		font-size: 1.9em;
	}

	.contact-wrapper {
		width: 60%;
		margin: 0 auto;
		padding-top: 25%;
	}

	.contact-wrapper h2 {
		font-size: 2.8em;
	}

	.summary-item-left {
		margin-right: 0;
		margin-left: auto;
	}
}

	